/*.element-core-data-view tr td{
	margin: 0;
	padding: 0;
}
*/

body {
    -webkit-user-select: none;
    user-select: none;
    font-size: 14px;
    font-family: 'Roboto', 'Noto', sans-serif
}

.filesystemitem-directory{
	color:#FCD97E;
}


.element-core-data-view{
	margin: 6px;
	/*color: #5B6945;*/
}

::-webkit-scrollbar {
    height: 6px;
    width: 12px;
    background: #E0E0E0;
}

::-webkit-scrollbar-thumb {
    background: #BABABA;
}

::-webkit-scrollbar-corner {
    background: #E0E0E0;
}


.file-system-icon{
    font-size: 16px;
}

.filesystemitem:hover,.filesystemitem:active{
    text-decoration: underline;
}
