body, paper-menu.paper-menu-0,paper-dialog.paper-dialog-0,.paper-checkbox-0 {
	background-color: #121718;
	color: #8A8A8A;
}

::-webkit-scrollbar {
	background: #54676D;
}

::-webkit-scrollbar-thumb {
	background: #333E42;
}

::-webkit-scrollbar-corner {
	background: #54676D;
}



.selected{
    color:red;
}

.active-filesystem-view{
    color:#F0F0F0;
}


paper-ripple {
    color: yellow;
}
