body, paper-menu.paper-menu-0,paper-dialog.paper-dialog-0,.paper-checkbox-0 {
	background-color: #121718;
	color: #8A8A8A;
}

::-webkit-scrollbar {
	background: #54676D;
}

::-webkit-scrollbar-thumb {
	background: #333E42;
}

::-webkit-scrollbar-corner {
	background: #54676D;
}




.active-filesystem-view{
    color:#F0F0F0;
}

.filesystemitem-directory{
	color:#FCD97E;
}

.filesystemitem{
	border: solid 1px #121718;
}

.filesystemitem.selected{
    color:#CC0000;
}

.active-filesystem-view .filesystemitem.active{
    border: solid 1px #F0F0F0;
}

.filesystemitem.active{
    border: solid 1px #8A8A8A;
}

paper-ripple {
    color: #F0F0F0;
}
